@import 'normalize.css/normalize';
@import 'variables';
@import 'mixins';

html {
  font-family: system-ui;
  line-height: 1.5;
}

img {
  display: block;
  width: 100%;
}

picture {
  display: block;
  position: relative;

  > img {
    position: absolute;
  }
}

ul {
  padding-left: 2rem;
}

a {
  color: inherit;
  text-decoration: none;

  &:not([class]) {
    text-decoration: underline;
  }
}
